@use '../utilities/variables' as *;
.carousel-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;

  .carousel {
    max-width: 800px;
    width: 100%;
  }

  .carousel-img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain; // <-- mantiene proporción sin recortar
    border-radius: 8px;
    display: block;
    margin: 0 auto;
  }

  .caption-bg {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 1rem;

    h5, p {
      color: white;
      margin: 0;
    }
  }
}
.titulo-carrusel {
  font-size: 32px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 4px;
    background-color: #c49bbb; // tono rosado/violeta suave
    border-radius: 2px;
  }

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}
