/*GENERAL*/
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
           
body {        
  background-color: #c173d1;  
}

header {
  background-color: rgb(104, 149, 209);
}
/*FOOTER SIEMPRE ABAJO*/
main {
 flex: 1;
}

/*HEADER*/

/*NAV GENERAL*/
.nav-propia {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
}
/*LOGO*/
.logo-img {
  height: 80px;
}
/*CADA APARTADO*/
.nav-link2 {
font-weight: 500; /*negrita*/
margin-left: 16px; /*espaciado*/
}
/*ITERACCION BOOTSTRAP*/
.nav-link2:hover,
.nav-link2.active {
  color: #ad71a8;
}

/*MAIN*/

.contenido {
  padding: 64px; /*separacion vertical*/
}

.contenido .texto h1 {
  font-size: 32px; /*tamaño letra*/
  font-weight: 600;
  margin-bottom: 32px; /*separacion baja*/
}

.contenido .texto p {
  font-size: 16px;
  max-width: 600px; /*ocupacion horizontal*/
}

.imagen-cuerpo img {
  max-width: 100%;  
  border-radius: 16px;
}

/*FOOTER*/
footer {
  background-color: #293e536b;
  color: white;
  text-align: right;
  padding: 32px;
}

/*ADAPTACION PANTALLAS*/
@media (max-width: 768px) {
  .contenido .texto h1 {
    font-size: 32px;
}
.nav-link2 {
margin-left: 0;
margin-top: 16px;
}
}
/* CATALOGO MAIN*/
.tarjetas{
  padding: 32px;
  width: 1000px;
}

.tarjeta_propia {
  border-radius: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  padding: 16px;
}

.tarjeta_propia:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.card-title {
  font-weight: 500;
  font-size: 16px
}

.card-text {
  color: #555;
}

.card-footer {
  background-color: #f8f9fa;
}

@media (max-width: 768px) {
  .tarjeta-custom {
  margin-bottom: 1rem;
}
}

/*FORMULARIO*/
.formu_g{
  padding: 32px;
}

.formulario_propio {
  max-width: 800px;
  padding: 32px;
  background-color: #ffffff67;
  border-radius: 32px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.473);
}
.form-control,
.form-select {
  border-radius: 32px;
  padding-top: 32px;
}

label {
    font-weight: 600;
    color: #1d0808;
}

@media (max-width: 576px) {
  .formulario-custom {
  padding: 1rem;
}
}
