// Variables
$main-color: #2c4377;
$accent-color: #d19ea3;
$font-main: 'Helvetica Neue', Arial, sans-serif;

$color-fondo: #2f4a75; // azul de fondo
$color-texto: #ffffff;
$color-boton: #f4d6d6;
$color-boton-texto: #2f4a75;
$color-card: #ffffff;
$radius: 12px;

$color-input: #b57d84; // tono rosado de los campos
$color-label: #ffffff;


